common --enable_bzlmod
common --enable_platform_specific_config
build:macos --@rules_python//python/config_settings:python_version=3.13.13
build:macos --copt=-mmacosx-version-min=15.0
build:macos --linkopt=-mmacosx-version-min=15.0
build --cxxopt=-std=c++23
build --host_cxxopt=-std=c++23
build --incompatible_default_to_explicit_init_py
build --strict_proto_deps=error
test --test_output=errors
